<%- layout('layout1')  -%>

<header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>New Posts</h1>
                </div>
            </div>
        </div>
    </div>
</header>




<div class="container">
        <div class="row">
                <div class="col-md-4 offset-md-4">
                    <% if (message.length > 0) { %>
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= message %>
                    </div>
                    <% } %>

                    <form method="POST">

                        <div class="control-group">
                            <div class="form-group my-5 floating-label-form-group controls">
                                <label>Username</label>
                                <input type="text" name="username" placeholder="Username" class="form-control">
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="form-group my-5 floating-label-form-group controls">
                                <label>College Name</label>
                                <input type="text" name="collegename" placeholder="College Name" class="form-control">
                            </div>
                        </div>



                        <div class="control-group">
                            <div class="form-group my-5 floating-label-form-group controls">
                                <label>Review Title</label>
                                <input type="text" name="rtitle" placeholder="Review Title" class="form-control">
                            </div>
                        </div>


                        <div class="control-group">
                            <div class="form-group my-5 floating-label-form-group controls">
                                <label>Year</label>
                                <input type="number"  name="year" placeholder="Year" class="form-control">
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="form-group my-5 floating-label-form-group controls">
                                <label>Branch</label>
                                <input type="text" name="branch" placeholder="Branch" class="form-control">
                            </div>
                        </div>




                        <div class="control-group">
                            <div class="form-group my-5 floating-label-form-group controls">
                                <label>Content</label>
                                <textarea name="content" placeholder="Content ...." cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group my-5 text-center">
                            <button class="btn btn-primary">Create Post</button>
                        </div>


                    </form>
                </div>
        </div>
</div>
